body {
  margin: 0;
}

div.menu { 	font-weight: bold;
			color: #0d1b2a;
		 	text-align: center;
		  	padding: .7em;
			margin: 0;
            background-color: #F7F7F7 }

div.menu a 	{ font-weight: bold;
		  color: #0d1b2a;
		  font-family: arial;
		  padding: 3em;
		  text-decoration: none }

.heading	{ font-weight: bold;
		  padding: 20px;
		  background-color: #0d1b2a; 
		  font-family: arial }

.heading h1  	{
		color: white;
		margin: 0;
		}
